---
layout: default
title: Projects
mainHeading: Projects
---

	<ul>

	<h2>School project's </h2>
	  {% for act in site.collProjects %}
	  	{% if act.categories contains 'school' %}
	   		<li><a href="{{ act.url }}" title="{{ act.title }}">{{ act.title }}</a></li>	 
	   	{% endif %}
	  {% endfor %}

	<h2> Home project's </h2>
	  {% for act in site.collProjects %}
	  	{% if act.categories contains 'home' %}
	   		<li><a href="{{ act.url }}" title="{{ act.title }}">{{ act.title }}</a></li>	 
	   	{% endif %}
	  {% endfor %}
	</ul>
