---
layout: default
title: Projects
mainHeading: Projects
---

<h2>School project's </h2>
<div class="list-group">
	{% for act in site.collProjects %}
  		{% if act.categories contains 'school' %}
   			<a class="list-group-item" style="max-width: 200px; margin-left: 20px" href="{{ act.url }}" title="{{ act.title }}">{{ act.title }}</a>
   		{% endif %}
  	{% endfor %}
</div>

<h2> Home project's </h2>
<div class="list-group">
	{% for act in site.collProjects %}
  		{% if act.categories contains 'home' %}
   			<a class="list-group-item" style="max-width: 200px; margin-left: 20px" href="{{ act.url }}" title="{{ act.title }}">{{ act.title }}</a>
   		{% endif %}
  	{% endfor %}
</div>